{% extends '@ZimaBlogweb/base.html.twig' %}

{% block body %}

    {% if post.owner == app.user.username %}
        <nav class="navbar navbar-default ">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('post_edit', {"id": post.id}) }}">Edit</a></li>
                        <li><a href="{{ path('post_delete', {"id": post.id}) }}">Delete</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}

    <div class="well">
        <p style="font-size: 25px;">{{ post.title }}</p>
        <p>wrote: <i>{{ post.owner }}</i> {{ post.createdAt|date('Y-m-d H:i') }} </p> <hr>
        {{ post.contents|raw }}
    </div>

    <hr>
    <h3>Comments:</h3>

    {% if is_granted("ROLE_USER") %}
        {{ form_start(commentForm, {"attr": {"novalidate": "novalidate"}}) }}
        <div class="form-group">
            {{ form_widget(commentForm.comment, {'attr': {'placeholder': 'Write a comment'}}) }}
        </div>
        {{ form_end(commentForm) }} <br>
    {% endif %}

    {#select comments#}
    {% for comment in selectcomments %}
        <div class="well well-sm">
            <p><b>{{ comment.owner }}</b> ({{ comment.createdAt|date('Y-m-d H:i') }})
            {% if comment.owner == app.user.username %}
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="comment-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        ...
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="comment-menu">
                        <li><a href="{{ path('comment_edit', {"id": comment.id}) }}">Edit</a></li>
                        <li><a href="{{ path('comment_delete', {"id": comment.id}) }}">Delete</a></li>
                    </ul>
                </div>
            {% endif %}
            </p>
            <p>{{ comment.comment }}</p>
        </div>
    {% else %}
        <div class="well">
            <p>No Comments</p>
        </div>
    {% endfor %}

{% endblock %}