{% extends '@ZimaBlogweb/base.html.twig' %}

{% block title %}BlockWEB|Add{% endblock %}

{% block body %}
    <h1>Add Contents</h1>
    {{ form_start(formPost, {"attr": {"novalidate": "novalidate"}}) }}
    <div class="form-group">
        {{ form_widget(formPost.title, {'attr': {'placeholder': 'Title'}}) }}
    </div>
    <div class="form-group">
    {{ form_widget(formPost.tags, {'attr': {'placeholder': 'tags'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(formPost.short_description, {'attr': {'placeholder': 'Short description'}}) }}
    </div>
    <div class="form-group">
    {{ form_widget(formPost.contents, {'attr': {'placeholder': 'Contents…'}}) }}
    </div>
    {{ form_end(formPost) }}



{% endblock %}