{% extends '@ZimaBlogweb/base.html.twig' %}

{% block body %}

    <div class="well">
        <p style="font-size: 25px;">{{ post.title }}</p>
        <p>wrote: <i>{{ post.owner }}</i> {{ post.createdAt|date('Y-m-d H:i') }} </p> <hr>
        {{ post.contents|raw }}
    </div>

    <hr>
    <h3>Comments:</h3>

    {{ form_start(commentForm, {"attr": {"novalidate": "novalidate"}}) }}
    <div class="form-group">
        {{ form_widget(commentForm.comment, {'attr': {'placeholder': 'Write a comment'}}) }}
    </div>
    {{ form_end(commentForm) }} <br>



    {#wyswietlenie komentarza#}
    {% for comment in selectcomments %}
        <div class="well">
            <u><b>{{ comment.owner }}</b> {{ comment.createdAt|date('Y-m-d H:i') }}</u> <hr>
            <p>{{ comment.comment }}</p>
            {#<a class="btn btn-danger" href="{{ path('blog_del_comment', {"id": comment.id}) }}">X</a>#}
        </div>
    {% endfor %}


{% endblock %}