{% extends '@ZimaBlogweb/base.html.twig' %}

{% block body %}

    {#{% if is_granted(app.user.username) %}#}
        {#<nav class="navbar navbar-default ">#}
            {#<div class="container-fluid">#}
                {#<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
                    {#<ul class="nav navbar-nav">#}
                        {#<li class="active"><a href="{{ path('blog_edit', {"id": post.id}) }}">Edit</a></li>#}
                        {#<li><a href="{{ path('blog_delete', {"id": post.id}) }}">Delete</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        {#</nav>#}
    {#{% endif %}#}

    <div class="well">
        <p style="font-size: 25px;">{{ post.title }}</p>
        <p>wrote: <i>{{ post.owner }}</i> {{ post.createdAt|date('Y-m-d H:i') }} </p> <hr>
        {{ post.contents|raw }}
    </div>

    <hr>
    <h3>Comments:</h3>


    {% if is_granted("ROLE_USER") %}
        {{ form_start(commentForm, {"attr": {"novalidate": "novalidate"}}) }}
        <div class="form-group">
            {{ form_widget(commentForm.comment, {'attr': {'placeholder': 'Write a comment'}}) }}
        </div>
        {{ form_end(commentForm) }} <br>
    {% endif %}

    {#wyswietlenie komentarza#}
    {% for comment in selectcomments %}
        <div class="well well-sm">
            <p><b>{{ comment.owner }}</b> ({{ comment.createdAt|date('Y-m-d H:i') }})</p>
            <p>{{ comment.comment }}</p>
            <a class="btn btn-danger" href="{{ path('blog_del_comment', {"id": comment.id}) }}">X</a>
        </div>
    {% else %}
        <div class="well">
            <p>Brak komentarzy</p>
        </div>
    {% endfor %}


{% endblock %}