{% extends '@ZimaBlogweb/base.html.twig' %}

{% block body %}

    <div class="col-xs-12 col-sm-7 col-md-9">

        <h2>coś zjebałem w PostRepository i nie działa</h2>
        <h2>{nie żeby wcześniej działało…}</h2>

        {% for content in selectFriendsPost %}
            <div class="well">
                <center><p style="font-size: 25px;">{{ content.title }}</p></center>
                <p>{{ content.createdAt|date('Y-m-d H:i') }}</p> <hr>
                <p><b>{{ content.shortdescription }}</b></p>
                <a href="{{ path('blog_content', {"id": content.id}) }}">More…</a>
            </div>
        {% endfor %}
        <div class="navigation text-center">
            {{ knp_pagination_render(rows) }}
        </div>
    </div>

{% endblock %}