<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}BlockWEB{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{{ path('blog_other') }}">
                    <img src="{{ asset('logo.png') }}" class="img img-responsive" width="200">
                </a>
            </div>
    {% if is_granted("ROLE_USER") %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('blog_home', {"username": app.user.username}) }}">Home <span class="sr-only"></span></a></li>
                    <li><a href="{{ path('blog_addcontents') }}">Add contents</a></li>
                </ul>

                <form class="navbar-form navbar-left" method="post" action="{{ path('blog_search') }}">
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="Search Contents">
                    </div>
                </form>
                <form class="navbar-form navbar-left" method="post" action="{{ path('blog_search_user') }}">
                    <div class="form-group">
                        <input type="text" name="searchUsers" class="form-control" placeholder="Search Users">
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('blog_user', {"username": app.user.username}) }}">Show Profile</a></li>
                            <li><a href="{{ path('blog_tab_friends', {"username": app.user.username}) }}">Friends</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('blog_settings', {"id": app.user.id}) }}">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    {% else %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-left" method="post" action="{{ path('blog_search') }}">
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="Search Contents">
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_security_login') }}"><u>Sign In</u></a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}"><u>Sign Up</u></a></li>
                </ul>

            </div>
        </div>
    {% endif %}
    </nav> <br>

    <div class="container" style="margin-top: 50px;">
        {% for message in app.flashes("success") %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes("error") %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes("warning") %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endfor %}
    </div>

    <div class="container">
        {% block body %}{% endblock %}
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
